header,
section {
  width: clamp(23.4375rem, 100%, 90rem);
  margin-inline: auto;
  font-family: Inter, sans-serif;
}

header {
  height: 6rem;
  padding: 1.0625rem 2rem;
}

.headline_section {
  padding: 4rem 10.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8.125rem;
}

/* Inter Fonts Default */
.inter5_16 {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.1px;
}

/* Flexbox Default*/
.DispDefault {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Header Section */
.navigation,
.nav_items {
  display: flex;
  gap: 24px;
}

.action_btn,
.action_btn_2 {
  width: 6.25rem;
  height: 3rem;
  border-radius: 2rem;
  background-color: #000;
  font-weight: 700;
  line-height: 1.5rem;
  display: block;
}

/* Headline Section */
.headline_content {
  width: clamp(20.4375rem, 100%, 30.625rem);
}

.headline_title {
  font-family: inter;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 3.75rem;
  letter-spacing: -1px;
}

.headline_text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 28px;
  margin: 1.5rem 0 2.5rem 0;
}

.purchased_box {
  display: flex;
  align-items: center;
  gap: 20px;
}

.purchased_about {
  width: 14.75rem;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
}

.burger_icon,
.tablet_img1,
.small_tablet_img1,
.mobile_img1 {
  display: none;
}

/* Feature Section*/
.feature_container {
  display: flex;
  padding: 4rem 9.375rem;
  gap: 1.875rem;
  background-color: #F3F3F3;
}

.feature_box {
  width: clamp(17.4375rem, 100%, 22.5rem);
}

.feature_user {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.feature_review {
  margin-top: 1rem;
  line-height: 1.5rem;
}

/*Media Query 1024px (headline section) */
@media only screen and (max-width: 64rem) {
  .tablet_img1 {
    width: clamp(13.125rem, 100%, 60rem);
    display: block;
  }

  .desktop_img1 {
    display: none;
  }

  .headline_section {
    flex-wrap: wrap;
    padding: 2rem;
    gap: 20px;
  }

  .headline_content {
    width: clamp(20.4375rem, 100%, 39.375rem);
    text-align: center;
  }

  .purchased_box {
    justify-content: center;
    margin: 0 4.375rem;
  }

  .purchased_about {
    width: 23.125rem;
  }

  /* FEATURE SECTION  */
  .feature_container {
    padding: 2.4375rem 2rem;
    gap: 3.4375rem;
  }
}

/*Media Query 744px (headline section) */
@media only screen and (max-width: 46.5rem) {
  .tablet_img1 {
    display: none;
  }

  .small_tablet_img1 {
    width: clamp(19.875rem, 100%, 43.5rem);
    display: block;
  }

  .headline_content {
    width: clamp(23.4375rem, 100%, 43.5rem);
    margin: 0 0 1.5rem 0;
  }

  .purchased_box {
    flex-direction: column;
  }

  .headline_title {
    font-size: 2.5rem;
  }

  .headline_section {
    padding: 0 1.5rem;
  }

  /* FEATURE SECTION  */
  .feature_container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
    padding: 1.25rem 0;
  }

  .feature_box {
    width: clamp(20.4375rem, 100%, 46.5rem);
  }

  .feature_user,
  .feature_review {
    justify-content: center;
    text-align: center;
  }
}

/* Media Query 600px*/
@media only screen and (max-width: 37.5rem) {
  .action_btn,
  .navigation {
    display: none;
  }
}

/* Media Query 375px (Header section - headline section)*/
@media only screen and (max-width: 23.4375rem) {
  /* Header and Headline Sections */
  .burger_icon,
  .mobile_img1 {
    display: block;
  }

  .small_tablet_img1 {
    display: none;
  }

  .headline_content {
    padding: 0 1.5rem;
  }

  .purchased_about {
    width: 20.4375rem;
  }

  .feature_box {
    padding: 1.5rem;
    gap: 1.5rem;
  }
}